.other_speech_bubble {
  position:relative;
  margin: 50px;
  width:400px;
  height:100px;
  background-color: #007bff; 
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  color: white;
 }
 .other_speech_bubble:after {
  border-top: 15px solid #007bff;
  border-left: 15px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 0px solid transparent;
  content:"";
  position:absolute;
  top:10px;
  left:-15px;
 }