
.container{
	display: flex;
	gap: 30px;
}

@media (max-width: 900px) {
	.container{
		flex-direction: column;
		gap: 10px;
	}

	.videoContainer{
		margin-top: 100px;
	}
}

.checkContainer{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 20px;
	width: 100%;
	min-width: 400px;
}

.joinSessionButton {
  width: 100%;
  padding: 15px;
  background: #fad312; 
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
	font-size: 1.3em;
}

.joinSessionButton:hover{
	background-color: #d0b134;
}


.videoContainer {
  width: 100%;
  max-width: 600px; 
  margin: 0; 
  background-color: transparent; 
  border-radius: 15px; 
	text-align: center;
	vertical-align: center;
}