.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.callBox {
  border: 1px solid black;
  width: 70vw;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  
}

.chatting {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; 
  margin: 0;
  padding: 0;
  width: 30vw;
  height: 100%;
  background-color: #f0f0f0; 
  position: relative;
}

.chatting_visibleButton {
  height: 70px;
  width: 30px;
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  background-color: #191919;
  color: white;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
