.container {
	display: flex;
	flex-direction: column;
	height: 100vh;
	overflow: hidden;
}

.videoContainer {
	display: flex;
	flex-grow: 1;
	overflow: hidden;
}

.screenShare {
	flex: 2;
	background-color: black;
}

.participants {
	display: flex;
	flex-direction: column;
	flex: 1;
	overflow-y: hidden;
}

.streamContainer {
	flex: 1;
	margin: 5px;
	position: relative;
}
