.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#video-container {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  padding-bottom: 50px; /* 툴바의 높이만큼 패딩 추가 */
}

#chat-container {
  flex: 0 0 300px;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px; /* 툴바의 높이만큼 패딩 추가 */
}

.toolbar {
 
  width: 100%;
  z-index: 1000;
  background-color: #333;
  color: white;
}
