.participants_container {
  display: grid;
  gap: 10px; 
  min-height: 50vh;
  padding: 10px;
}

.participant {
  background-color: #ddd;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30vw;
}


.participants_container.one {
  grid-template-columns: repeat(1, 1fr);
}

.participants_container.two {
  grid-template-columns: repeat(2, 1fr);
}

.participants_container.three {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
